@{
    ViewData["Title"] = "Verlopen Enquete";
}
<div class="d-flex justify-content-center align-items-center" style="min-height:70vh;">
    <div class="p-4 rounded shadow-sm bg-blue-soft" style="max-width:700px; width:100%;">
		<h2 class="text-center twinkle gold-soft mb-4">Enquete verlopen</h2>  
        
        <a asp-controller="Reservatie" asp-action="Reserveren" class="hero-overlay-btn btn btn-outline-warning btn-lg align-content-center">
			Maak een nieuwe reservatie.
		</a>
	</div>
</div>