<div class="masterpiece-footer-content text-center text-light py-4">
    <p class="mb-1 twinkle">© @DateTime.Now.Year Masterpiece.</p>

    <p class="small mb-0 text-secondary">
        Gemaakt door Jelle, Nic, Nick, Thomas &amp; Joeri – Graduaat Programmeren
    </p>

    <p class="small mb-0 text-muted">
        Docent: Dhr. Maarten Moonen
    </p>
</div>
